header {
  text-align: center; /*Centers text*/
  color: #333; /*Sets the text color*/
  font-family: 'Arial', sans-serif; /*Sets the font family*/
  font-size: 2.5em; /*Sets the size of the font*/
  font-weight: bold; /* Makes font bold */
  margin-top: 20px; /* Adds space on top of heading */
  margin-bottom: 20px; /* Adds space below the heading */
  text-transform: uppercase; /*Makes characters uppercase*/
  letter-spacing: 1.5px; /* Space between characters*/
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow to the text */
  padding: 10px 0; /*Spacing inside the element*/
  border: 2px dashed #666; /* Adds a border */
  background-color: #f8f8f8; /* Sets a background color */
  border-radius: 5px; /*Rounds corners*/
}

p {
  font-size: 25px; /*Size of text*/
  padding: 20px; /*Spacing inside the element*/
}

.button1 {
  position: fixed; /*Fixed positiong -- when you scroll, the button stays in the same spot*/
  bottom: 0; /*0 pixels from the bottom (on the bottom therefore) */
  right: 0; /*0 pixels from the right (on right therefore*/
}

img {
  padding: 10px;/*Spacing inside the element*/
  box-shadow: 5px 5px 50px rgb(163, 109, 78);
  float: right; /*Makes image wrap around text to the right)*/
  width: 500px; /*Width of image*/
  height: auto; /*Height of image*/
}

.button2 {
  margin: 30px; /*Spacing OUTSIDE the element (often confused with padding*/
  left: 50px; /*How far from the lefT*/
  position: relative; /*Relative positioning -- position relative to where it is normally*/
}

.flex-container {
  padding: 20px;/*Spacing inside the element*/
  display: flex; /*Specifices this is a flex*/
  align-items: center; /*Elements are aligned in the center*/
  justify-content: space-between; /*Creates equal space between elements*/
}

.grid-container {
  display: grid; /*Specifices this is a grid*/
  gap: 10px; /*Gap between each element*/
  background-color: #ff8b6d; /*Background color*/
  padding: 10px; /*Spacing inside the element*/
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8); /*Background color*/
  text-align: center; /*Text is in center of each element*/
  padding: 20px; /*Spacing inside the element*/
  font-size: 30px; /*Size of text*/
}

/*Specifices column, row, and size of box/element*/
.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 3;
}

.item4 {
  grid-column: 2;
  grid-row: 2 / span 2;
}

.item5 {
  grid-column: 1 / span 1;
  grid-row: 3;
}