body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    padding-right: 5%;
}
.container {
    width: 60%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 8px;
}

.person {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.person img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.person h2 {
    font-size: 1.5em;
    margin: 0;
}

.person:last-child {
    border-bottom: none;
}

.nav-item {
    font-size: 200%;
  
    background: linear-gradient(to right, #000000, #ff0000); /* Gradient background */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-decoration: none;   
}

.nav-item:hover {
    background: linear-gradient(to right, #000000, #8400ff); /* Gradient background */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-decoration: none;  
}
